/* --- 共通 --- */
body {
  margin: 0px;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
/* --- header --- */
#header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#header .wrapper{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

#header .inner img{
  height: 70px;
}
#header .logo a{
  display: block;
}
#header .logo{
  width: 30%;
  line-height: 1px;
  margin-right: 60px;
}

#header nav {
  width: 70%;
}
#header .inner ul{
  display: flex;
  align-items:center;
  justify-content: flex-end;
}
#header .inner li{
  margin-right: 10%;
}
#header .inner li:last-child{
  margin-right: 0;
}
#header li a:hover {
  color: #fcb900;
}

/*--- id:slide-img ---*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:94%;
  margin:0 auto;
}
.slider img {
  width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
  height:auto;
  max-height: 500px;
  max-width: 1058px;
  object-fit: cover;
  border-radius: 30px;
}
.slider .slick-slide {
transform: scale(0.8);/*左右の画像のサイズを80%に*/
transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
opacity: 0.5;/*透過50%*/
}
.slider .slick-slide.slick-center{
transform: scale(1);/*中央の画像のサイズだけ等倍に*/
opacity: 1;/*透過なし*/
}

/*矢印の設定*/
.slick-prev,
.slick-next {
  position: absolute;/*絶対配置にする*/
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666;/*矢印の色*/
  border-right: 2px solid #666;/*矢印の色*/
  height: 15px;
  width: 15px;
}
.slick-prev {/*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}
.slick-next {/*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
  text-align:center;
  margin:20px 0 0 0;
}
.slick-dots li {
  display:inline-block;
margin:0 5px;
}
.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;/*ドットボタンのサイズ*/
  height:8px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}
.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}
