<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
</head>
<body>
  <header id="header">
    <div class="inner wrapper">
      <div class="logo">
        <a href="#">
          <img th:src="@{/img/logo1.png}">
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">PRESS</a></li>
          <li><a href="#">SERVICE</a></li>
          <li><a href="#">RECRUIT</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="slide-img">
    <!-- <h2>数画像を中央に注目させて見せる</h2> -->
    <ul class="slider">
      <li><img th:src="@{img/smp1.jpg}"></li>
      <li><img th:src="@{img/smp2.jpg}"></li>
      <li><img th:src="@{img/smp3.jpg}"></li>
      <li><img th:src="@{img/smp1.jpg}"></li>
      <li><img th:src="@{img/smp2.jpg}"></li>
      <li><img th:src="@{img/smp3.jpg}"></li>
    </ul>
  </section>

  <section id="concept">
    <div class="wrapper">
      <div class="concept-txt">
        <h2 class="main-txt">World Enjoys Company<br>Enjoy Society</h2>
        <p class="sub-txt">お客様の健康と幸福を最優先に考え、最新のテクノロジーを活用して、効率的かつ効果的なサービスを提供します。</p>
      </div>
      <div class="concept-img">
        <img th:src="@{img/smp4.png}">
      </div>
    </div>
  </section>
  <section id="news">
    <div class="display">
      <h2>PRESS RELEASE</h2>
      <p>最新のお知らせ</p>
    </div>
    <div class="contens">
      <div class="content">
        <div class="title">
          <div class="tag">
            <p>プレスリリース</p>
          </div>
          <div class="date">
            <p>2023/6/2</p>
          </div>
        </div>
        <div class="text">
          <p>パートナーシップとお客様の信頼は、私たちの成功の基盤です。お客様の声を大切にし、そのニーズに寄り添いながら、共に成長していきます。私たちは信頼性と品質にこだわり、常に最高水準のサポートを提供します。</p>
          <p class='line'></p>
        </div>
      </div>
      <div class="content">
        <div class="title">
          <div class="tag">
            <p>企業情報</p>
          </div>
          <div class="date">
            <p>2023/5/1</p>
          </div>
        </div>
        <div class="text">
          <p>パートナーシップとお客様の信頼は、私たちの成功の基盤です。お客様の声を大切にし、そのニーズに寄り添いながら、共に成長していきます。私たちは信頼性と品質にこだわり、常に最高水準のサポートを提供します。</p>
          <p class='line'></p>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <footer id="footer">
    <div class="footer-img">
      <div class="main-logo">
        <a href="#"><img th:src="@{img/logo1.png}" alt="sample_logo"></a>
      </div>
      <div class="sub-logo">
        <img th:src="@{img/logo2.png}" alt="sample_logo">
        <img th:src="@{img/logo3.png}" alt="sample_logo">
      </div>
    </div>
    <div class="sigtmap">
      <ul class="wrapper">
        <li class="wrapper-flex">
          <h2>Abut</h2>
          <ul>
            <li><a>概要</a></li>
            <li><a>事業内容</a></li>
            <li><a>沿革</a></li>
          </ul>
        </li>
      </ul>
      <ul class="wrapper">
        <li class="wrapper-flex">
          <h2>Press</h2>
          <ul>
            <li><a>最新のお知らせ</a></li>
          </ul>
        </li>
      </ul>
      <ul class="wrapper">
        <li class="wrapper-flex">
          <h2>Contact</h2>
          <ul>
            <li><a>text1</a></li>
            <li><a>text2</a></li>
            <li><a>text3</a></li>
          </ul>
        </li>
      </ul>
      <ul class="wrapper">
        <li class="wrapper-flex">
          <h2>Service</h2>
          <ul>
            <li><a th:href="@{'/owner'}">OWNER</a></li>
            <li><a>GESTS</a></li>
            <li><a>ADJUTMENT</a></li>
          </ul>
        </li>
      </ul>
      <div class="sigtmap-end">
        <a href="#">SigtMap</a>
        <a href="#">GuideLine</a>
        <a href="#">Policy</a>
        <a href="#">Copyright © 2023</a>
      </div>
    </div>
  </footer>
  <!-- import js-jquer-slick -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script th:src="@{javascript/main.js}"></script>
</body>
</html>